.company-section {
  width: 92%;
  display: grid;
  grid-template-columns: 50% 48%;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  background: #3b4353;
}
.company-left {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.company-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.company-left-two {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.company-left-two img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.company-right {
  color: #fff
}
.company-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 12px 0;
}
.company-link button {
  outline: none;
  background-color: rgb(94, 106, 128);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
}
.company-live button {
  outline: none;
  background-color: rgb(94, 106, 128);
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 900px) {
  .company-section {
    width: 90%;
    grid-template-columns: 100%;
    padding: 25px 12px;
    border-radius: 10px;
  }
  .company-link {
    justify-content: space-between;
  }
  .company-left {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
  }
  .company-left-two {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
  }
  .company-live button {
    padding: 0;
    width: 100%;
    height: 30px;
  }
  .company-right h2 {
    text-align: center;
  }

}